{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
        <div class="eight wide computer sixteen wide mobile centered column">
            <h2 class="ui dividing header">Search for classmates</h2>
            {{ f.render_form(form) }}
            <p>{{search_data}}</p>
            {% for uid in user_ids %}
            <p>{{uid}}</p>
            {% endfor %}

                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th class="sorted ascending">Last name</th>
                            <th>Email address</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for u in users | sort(attribute='last_name') %}
                        <tr>

                            <td>{{ u.first_name }}</td>
                            <td>{{ u.last_name }}</td>
                            <td>{{ u.email }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
    </div>
{% endblock %}